.main {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.heading {
  font-weight: 700;
}

.videos-link {
  margin: 0;
  padding: 0.3rem 0.1rem;
  text-align: center;
  font-weight: 540;
}

.videos-link:hover {
  background-color: rgb(0, 0, 0, 0.2);
  margin: 0;
  cursor: pointer;
}

.active {
  background-color: rgb(0, 0, 0, 0.2);
}

.video-name {
  display: flex;
  color: #2d2f31;
  font-weight: 500;
  margin-top: 1rem;
  font-size: 1rem;
  justify-content: center;
}

.video-name p {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
}
