.main {
  /* transition: all 0.5s linear; */
  width: 13.5rem;
  padding-top: 4rem;
}

.main-hide {
  /* width: 0;
    opacity: 0; */
  animation: hide 0.5s ease-out forwards;
}

.main-show {
  /* width: 13.5rem;
      opacity: 1; */
  animation: show 0.5s ease-out forwards;
}
@keyframes hide {
  0% {
    width: 13.5rem;
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes show {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 13.5rem;
    opacity: 1;
    height: 40rem;
  }
}

.form-control {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form-control input {
  accent-color: black;
}

.form-control label {
  margin-left: 0.5rem;
  color: #2d2f31;
}

.star {
  color: orange;
}
